{{> header}}
{{> menu}}

<h1>Pel·lícules</h1>

<div class="page-container">
  {{#each movies}}
    <div class="card">

      <h2>{{title}}</h2>
      <p class="year">Any: {{release_year}}</p>

      <h3>Actors</h3>
      <ul>
        {{#each actors}}
          <li>
            <span>{{first_name}} {{last_name}}</span>
          </li>
        {{/each}}
      </ul>

    </div>
  {{/each}}
</div>

{{> footer}}
